body {
    background: url("../img/bg_green.jpg") repeat;
}

header {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    padding: 0 0 20px;
    text-align: center;
}
header h1 {
    display: block;
    position: relative;
    margin: 0 auto;
}

.wrapper {
    display: block;
    margin: 0 auto;
    padding: 25px 0px;
    width: 550px;
    position: relative;
    text-align: center;
    
}

.main { 
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.meta {
    display: block;
    float: left;
    position: absolute;
    border: 0px;
    padding: 20px;
    font-family: "Lato", Verdana;
    color: #fff;
}

.meta span { 
    font-size: 72px;
    font-weight: bolder;
    display: block;
}


#status {
    position: absolute;
    right: 0;
    color: #fff;
    font-family: "Droid Sans", Verdana;
    margin-top: 10px;
    padding: 25px;
    font-size: 18px;
}

#end-message {
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    width: 100%;
    font-family: "Lato", Verdana;
    font-size: 24px;
    color: #fff;
}
#end-message p {
    margin: 5px auto;
}

.pegs {
    background: url("../img/board.png") no-repeat 20px 0px transparent;   
    float: left;
    display: block;
    margin: -5px auto 0;
    width: 400px;
    height: 300px;
}

.peg {
    display: inline-block;
    position: absolute;
    background-color: gray;
    border: 5px inset gray;
    cursor: pointer;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: gray;
    margin: 7px 0px 0 7px;

}

#A { top: 15px; left: 180px; }

#B { top: 65px; left: 145px; }
#C { top: 65px; left: 215px; }

#D { top: 115px; left: 110px; }
#E { top: 115px; left: 180px; }
#F { top: 115px; left: 250px; }

#G { top: 165px; left: 75px; }
#H { top: 165px; left: 145px; }
#I { top: 165px; left: 215px; }
#J { top: 165px; left: 285px; }

#K { top: 215px; left: 40px; }
#L { top: 215px; left: 110px; }
#M { top: 215px; left: 180px; }
#N { top: 215px; left: 250px; }
#O { top: 215px; left: 320px; }

.on {
    border-color: red;
    background-color: red;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 8px inset red;
    margin: 0;
}
.active {
    border-color: #2EF7F7;
    background-color: #2EF7F7;
}
.possible-move {
    border-color: yellow;
    background-color: yellow;
}